.column{
    float: left;
    width: 25%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.Validation{
    color: white;
    background-color: black;
}
img{
    width: 200px;
    height: 200px;
}